@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Prata&display=swap');
@import "tailwindcss";

@theme {
    --color-gold: #d4af37;
    --color-red-dh: #991b1b;
    --color-black-dh: #050505;
    --font-serif: "Prata", serif;
    --font-sans: "Montserrat", sans-serif;

    --animate-fade-in: fade-in 1s ease-out;
    --animate-slide-up: slide-up 0.8s ease-out;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer base {
    body {
        @apply bg-black-dh text-white antialiased;
        font-family: var(--font-sans);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
    }
}